<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title> NOSH NEST | Welcome </title>
  </head>
  <body>
    <div id="subfile-container"></div>
    <!-- <script>

      // Menggunakan JavaScript untuk memuat konten dari subfile.html
      fetch("../header.html")
          .then(response => response.text())
          .then(html => {
              document.getElementById('subfile-container').innerHTML = html;
          });
    </script> -->
    <link rel="stylesheet" href="/static/styles.css" />
    <header class="header">
        <nav>
          <div class="nav__logo"><a href="#">Nosh Nest</a></div>
          <ul class="nav__links" id="nav-links">
            <li class="link"><a href="#home">Beranda</a></li>
            <li class="link"><a href="#choose">Tentang Kami</a></li>
            <a href='/masuk'>
            <button action='' type="button" class="btn btn-primary">Masuk</button>
            </a>
          </ul>
          <div class="nav__menu__btn" id="menu-btn">
            <span><i class="ri-menu-line"></i></span>
          </div>
          <div class="nav__actions">
            <span><i class="ri-search-fill"></i></span>
            <span><i class="ri-user-fill"></i></span>
          </div>
        </nav>
        <div class="section__container header__container" id="home">
          <h1>NoshNest: Menyambungkan Desa, Melayani Kebutuhan Pangan. </h1>
          <p>
            Amanah Pangan untuk Desa Sejahtera! Satukan Langkah, Sediakan Ketersediaan Makanan untuk Semua.
          </p>
          <form action="/">
            <input type="text" placeholder="Cari Lumbung Pangan" />
            <button><i class="ri-search-line"></i></button>
          </form>
          <a href="#choose"><i class="ri-arrow-down-double-line"></i></a>
        </div>
      </header>

    <section class="section__container choose__container" id="choose">
      <img class="choose__bg" src="/static/assets/dot-bg.png" alt="bg" />
      <div class="choose__content">
        <h2 class="section__header">Kenapa Kami Ada</h2>
        <p class="section__subheader">
          NoshNest hadir untuk menyatukan kebutuhan pangan desa dengan ketersediaan lumbung pangan, 
          memastikan distribusi makanan yang efisien, merata, dan sesuai dengan permintaan masyarakat, sehingga mendukung ketahanan pangan dan kesejahteraan masyarakat.
        </p>
        <div class="choose__grid">
          <div class="choose__card">
            <span><i class="ri-plant-line"></i></span>
            <h4>Ketahanan pangan</h4>
            <p>
              Kami hadir demi meningkatkan ketahanan pangan melalui penyelarasan permintaan 
              masyarakat desa dan ketersediaan lumbung pangan. 
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-truck-line"></i></span>
            <h4>Tepat</h4>
            <p>
              Kami memastikan distribusi pangan yang inklusif, menjembatani kesenjangan dan memberdayakan setiap lapisan masyarakat.
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-customer-service-2-line"></i></span>
            <h4>Layanan 24/7</h4>
            <p>
              Dengan komitmen kami, teknologi, dan layanan berkesinambungan, kami siap memberdayakan setiap orang, kapan pun dibutuhkan.
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-loop-right-line"></i></span>
            <h4>Menstabilkan Export Import</h4>
            <p>
              NoshNest berkontribusi pada ketahanan pangan nasional dan menjaga stabilitas ekspor-import.
            </p>
          </div>
        </div>
      </div>
      <div class="choose__image">
        <img src="/static/assets/food-estate.jpg" alt="choose" />
      </div>
    </section>

    <section class="offer__container" id="offer">
      <div class="offer__grid__top">
          <img src="/static/assets/pict_1.jpg" alt="offer" />
          <img src="/static/assets/pict_2.jpg" alt="offer" />
          <img src="/static/assets/pict_3.jpeg" alt="offer" />
        <div class="offer__content">
          <h2 class="section__header">Program Kami</h2>
          <p class="section__subheader">
            Beberapa program yang sudah kami laksanakan
          </p>
          <button class="btn">Lebih Lanjut</button>
        </div>
      </div>
      <div class="offer__grid__bottom">
        <img src="/static/assets/pict_4.jpeg" alt="offer" />
        <img src="/static/assets/pict_5.jpg" alt="offer" />
        <img src="/static/assets/pict_6.jpeg" alt="offer" />
        <img src="/static/assets/pict_7.jpg" alt="offer" />
      </div>
    </section>

    

    <section class="section__container modern__container" id="modern">
      <div class="modern__image">
        <img src="/static/assets/dot-bg.png" alt="bg" class="modern__bg" />
        <img src="/static/assets/banner_2.jpg" alt="modern" class="modern__img-1" />
        <img src="/static/assets/banner_3.jpg" alt="modern" class="modern__img-2" />
        <img src="/static/assets/banner_1.jpg" alt="modern" class="modern__img-3" />
      </div>
      <div class="modern__content">
        <h2 class="section__header">
          Perkembangan yang telah kami lakukan
        </h2>
        <p class="section__subheader">
          Kami juga melakukan gerakan nyata bersama pemerintah demi mendukung program Nosh Nest 
        </p>
        <div class="modern__grid">
          <div class="modern__card">
            <span><i class="ri-checkbox-blank-circle-line"></i></span>
            <p>
              Membangun lebih banyak lahan pertanian dan perkebunan.
            </p>
          </div>
          <div class="modern__card">
            <span><i class="ri-checkbox-blank-circle-line"></i></span>
            <p>
              Bekerja sama dengan para petani lokal dan pedagang lokal.
            </p>
          </div>
          <div class="modern__card">
            <span><i class="ri-checkbox-blank-circle-line"></i></span>
            <p>
              Memfasilitasi para petani dan masyarakat tani.
            </p>
          </div>
          <div class="modern__card">
            <span><i class="ri-checkbox-blank-circle-line"></i></span>
            <p>
              Meningkatkan kualitas komoditas pangan dan rempah-rempah.
            </p>
          </div>
        </div>
        <button class="btn">Galeri</button>
      </div>
    </section>

    <section class="section__container testimonial__container" id="testimonial">
      <h2 class="section__header">Founder</h2>
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="testimonial__card">
              <p>
                NoshNest hadir sebagai solusi inovatif
                untuk memperkuat ketahanan pangan desa, menciptakan konektivitas yang efisien
                antara permintaan dan pasokan pangan. Tujuan utama NoshNest adalah memberdayakan
                komunitas desa melalui pendekatan teknologi yang memastikan distribusi pangan yang adil, merata, dan berkelanjutan.
              </p>
              <img src="/static/assets/angga.jpg" alt="testimonial" />
              <h4>Dwi Angga Ferdianto</h4>
              <h5>C182BSY3822</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__card">
              <p>
                NoshNest hadir sebagai solusi inovatif
                untuk memperkuat ketahanan pangan desa, menciptakan konektivitas yang efisien
                antara permintaan dan pasokan pangan. Tujuan utama NoshNest adalah memberdayakan
                komunitas desa melalui pendekatan teknologi yang memastikan distribusi pangan yang adil, merata, dan berkelanjutan.
              </p>
              <img src="/static/assets/valdo.jpeg" alt="testimonial" />
              <h4>Rivaldo Josua Jetrin Rolos</h4>
              <h5>M699BSY1736</h5>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial__card">
              <p>
                NoshNest hadir sebagai solusi inovatif
                untuk memperkuat ketahanan pangan desa, menciptakan konektivitas yang efisien
                antara permintaan dan pasokan pangan. Tujuan utama NoshNest adalah memberdayakan
                komunitas desa melalui pendekatan teknologi yang memastikan distribusi pangan yang adil, merata, dan berkelanjutan.
              </p>
              <img src="/static/assets/salim.jpeg" alt="testimonial" />
              <h4>Mochammad Salim</h4>
              <h5>C697BSY3498</h5>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <section class="section__container blog_container" id="blog">
      <h2 class="section__header">Artikel Terbaru</h2>
      <div class="blog__grid">
        <div class="blog__card">
          <a href="https://nasional.sindonews.com/read/832995/15/food-estate-diyakini-mampu-dukung-indonesia-jadi-lumbung-pangan-dunia-1658401665">
            <img src="/static/assets/indonesia-lumbung-dunia.jpg" alt="blog" />
            <h4>Food Estate Diyakini Mampu Dukung Indonesia Jadi Lumbung Pangan Dunia</h4>
            <p><span>by</span> Rico Afrido Simanjuntak <span>on</span> 21 Juli, 2022</p>
          </a>
        </div>
        <div class="blog__card">
          <a href="https://agroindonesia.co.id/wujudkan-lumbung-pangan-dunia-kementan-manfaatkan-lahan-rawa/">
            <img src="/static/assets/mentan-optimalisasi-lahan.jpg" alt="blog" />
            <h4>Wujudkan Lumbung Pangan Dunia, Kementan Manfaatkan Lahan Rawa</h4>
            <p>
              <span>by</span> redaksi <span>on</span> 5 Desember 2023
            </p>
          </a>
        </div>
        <div class="blog__card">
          <a href="https://ekonomi.republika.co.id/berita/s3hz4k502/mentan-sebut-indonesia-harus-bersiap-jadi-lumbung-pangan-dunia">
            <img src="/static/assets/menhan.jpg" alt="blog" />
            <h4>Mentan Sebut Indonesia Harus Bersiap Jadi Lumbung Pangan Dunia</h4>
            <p><span>by</span> Lida Puspaningtyas <span>on</span> 2 November, 2023</p>
          </a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__content">
          <h4>KIRIMKAN KRITIK DAN SARAN ANDA</h4>
          <p>
            Kami akan sangat terbantu dengan masukkan yang anda kirimkan agar kami lebih berkembang
          </p>
        </div>
        <div class="footer__form">
          <form action="/">
            <input type="text" placeholder="Masukkan kritik dan saran" />
            <button>KIRIMKAN</button>
          </form>
        </div>
      </div>
      <div class="section__container footer__bar">
        <div class="footer__logo">
          <h4><a href="#">Nosh Nest</a></h4>
          <p>Copyright © 2023 Nosh Nest. CH2 - PR626.</p>
        </div>
        <ul class="footer__nav">
          <li class="footer__link"><a href="#">Tentang</a></li>
          <li class="footer__link"><a href="#">Partnership</a></li>
          <li class="footer__link"><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
